<nav class="header">
    <div fxFlex="40" >
        <span [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Header LOGO</span>

        <span [routerLink]="'counter'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            Counter
        </span>
        <span [routerLink]="'post'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            Post
        </span>
    </div>
    <div fxFlex *ngIf="!isLogin" fxLayoutAlign="end center">
        <span [routerLink]="'login'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            LOGIN
        </span>
        <span [routerLink]="'registration'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            REGISTRATION
        </span>
    </div>
    <div fxFlex *ngIf="isLogin" fxLayoutAlign="end center">
        <span [routerLink]="'dashboard'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            Dashboard
        </span>
        <span [routerLink]="'profile'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            Profile
        </span>
        <span (click)="logout()">
            Logout
        </span>
    </div>
</nav>