.registration-container {
    .registration-form {
        padding: 16px;
        background-color: aliceblue;
        opacity: 50;

        .submit-btn {
            background-color: blue !important;
            color: white;
            margin-bottom: 8px;
        }

        .cancel-btn {
            background-color: lightcoral;
            color: black;
        }

        .error {
            color: red;
        }
    }
}