<div fxFlex fxLayoutAlign="center center" fxLayout="row" class="login-container">
    <div fxFlex="30" fxLayout="column" class="login-form" [formGroup]="loginForm">

        <h1>Login Form</h1>

        <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Email : </mat-label>
            <input type="email" name="email" matInput formControlName="email" />
        </mat-form-field>
        <div class="red" *ngIf="loginForm.controls['email']?.touched">
            <ng-container *ngIf="loginForm.controls['email']?.errors?.['required']">
                email is required
            </ng-container>
            <ng-container *ngIf="loginForm.controls['email']?.errors?.['email']">
                invalid email
            </ng-container>
        </div>

        <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Password : </mat-label>
            <input type="password" name="password" matInput formControlName="password" />
        </mat-form-field>
        <div class="red" *ngIf="loginForm.controls['password']?.touched">
            <ng-container *ngIf="loginForm.controls['password']?.errors?.['required']">
                password is required
            </ng-container>
            <ng-container *ngIf="loginForm.controls['password']?.errors?.['pattern']">
                Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more
                characters
            </ng-container>

        </div>


        <button mat-button mat-stroked-button [ngClass]="{'submit-btn': loginForm.valid}"
            [disabled]="!loginForm.valid">Login</button>
        <button mat-button mat-stroked-button class="cancel-btn">Cancel</button>
    </div>
</div>