<div fxFlex fxLayoutAlign="center center" fxLayout="row" >
    <table fxFlex="70" style="border: 1px solid ;">
        <thead>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>action</th>

        </thead>
        <tbody>
            <ng-container  *ngFor="let post of ($post|async)">
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>
                        <button mat-button mat-stroked-button (click)="getPostData(post.id)">edit</button>
                        <button mat-button mat-stroked-button (click)="deletePostData(post.id)">delete</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <app-add-post-form fxFlex="30"></app-add-post-form>
</div>


